<app-navbar-style-one></app-navbar-style-one>

<div class="inner-banner bg-shape2 bg-color3">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="conatiner">
                <div class="inner-title text-center">
                    <h3>IMPLEMENTACIÓN DE UNA RED NEURONAL EN ARDUINO PARA AUTOMATIZAR EL PROCESO DE CLASIFICACIÓN E IDENTIFICACIÓN DE UNA NARIZ ELECTRÓNICA</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><i class="fas fa-chevron-right"></i></li>
                        <li>IMPLEMENTACIÓN DE UNA RED NEURONAL EN ARDUINO PARA AUTOMATIZAR EL PROCESO DE CLASIFICACIÓN E IDENTIFICACIÓN DE UNA NARIZ ELECTRÓNICA</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="news-detl pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="common-dtel-img">
                    <img src="assets/img/news/12.jpg" alt="About Images">
                </div>

                <div class="common-dtel-text">
                    <p>mayo, 7 2021 Posted by CCAI Residente Posted by 3 comments</p>
                    <h2>IMPLEMENTACIÓN DE UNA RED NEURONAL EN ARDUINO PARA AUTOMATIZAR EL PROCESO DE CLASIFICACIÓN E IDENTIFICACIÓN DE UNA NARIZ ELECTRÓNICA</h2>
                    <p>La tecnología de nariz electrónica</p>
                        <p>Una nariz electrónica es un dispositivo desarrollado con la intención de detectar y clasificar automáticamente olores, sabores, vapores y gases. Un sistema de nariz electrónica está conformado principalmente por un arreglo de sensores de gases y un sistema de reconocimiento de patrones (Keller, 1995).</p>
                        <p>Los dos componentes principales de una nariz electrónica son el sistema de detección y el sistema de reconocimiento de patrones automatizado. El sistema de detección o censado, se puede construir con un arreglo de distintos elementos sensores, principalmente sensores químicos, donde cada elemento mide una propiedad diferente del compuesto químico que se está detectando, también se puede construir con un solo elemento sensor que produce un arreglo de mediciones para cada químico, o finalmente se puede conformar con una combinación de ambos (Keller, 1995).</p>
                        <p>Cada químico en estado gaseoso presente en el arreglo de sensores produce una marca o patrón característico del gas en cuestión. Al presentar varios compuestos químicos en el arreglo de sensores, se construye una base de datos de los patrones o marcas generados con el arreglo de sensores. Esta base de datos con las marcas etiquetadas se utiliza para entrenar al sistema de reconocimiento de patrones. El objetivo de este proceso de entrenamiento es configurar el sistema de reconocimiento para producir una clasificación única para cada químico y con ello implementar el sistema de identificación automatizado (Keller, 1995).</p>
                        <p>Los métodos de reconocimiento de patrones comúnmente utilizados con las narices electrónicas incluyen el uso de métodos estadísticos convencionales, redes neuronales artificiales, así como una combinación de ambos (Avila et al., 2013).</p>
                        <p>Muchas de las técnicas estadísticas son complementarias de las redes neuronales y a menudo se combinan con ellas para producir clasificadores y agrupamientos que resultan más robustos que los implementados con técnicas individuales. Los métodos estadísticos convencionales incluyen el análisis de componente principal (PCA – Principal Component Analysis), mínimos cuadrados parciales (PLS – Partial Least Square), análisis discriminantes (DA – Discriminant Analysis), análisis discriminante factorial (DFA – Discriminant Factorial Analysis) y análisis de agrupamientos (CA – Clusters Analysis) (Avila el al., 2013).</p>
                        <p>Las redes neuronales artificiales que se utilizan para analizar datos complejos y reconocer patrones han demostrado resultados satisfactorios y confiables en el reconocimiento de gases químicos. Cuando estas redes neuronales se combinan con un arreglo de sensores el número de químicos detectados es generalmente mayor al número de sensores utilizados. De esta forma, si se utilizan sensores con&nbsp; menos selectividad, los cuales son más económicos,&nbsp; se obtiene resultados favorables para el desarrollo de estos sistemas (Keller, 1999).</p>
                        <p>Entre los principales algoritmos utilizados en las distintas aplicaciones de las redes neuronales empleadas con narices electrónicas se encuentran: el entrenamiento de propagación hacia atrás (backpropagation trained), redes alimentadas hacia adelante (feed forward networks), mapas ART difusos (fuzzy ART Maps), mapas auto organizados de Kohonen (Kohonen’s self organized maps SOMs), cuantificadores vectoriales de aprendizaje (learning vector quantiziers LVQs), redes hamming (hamming&nbsp; networks), máquinas Boltzmann (Boltzmann machines) y redes Hopfield (Hopfield networks), entre otros (Keller, 1995).</p>
                        <p>Objetivo general</p>
                        <p>Diseñar e implementar un algoritmo de red neuronal para ser embebido en un Arduino con el fin de automatizar una nariz electrónica portable y de bajo costo.</p>
                        <p>Objetivos específicos</p>
                        <p>Se propone el diseño de una red neuronal que utilice el flujo de datos proporcionado por el arreglo de sensores como aportación original de esta investigación, presentando una solución propia que permita clasificar y reconocer los olores considerados en la muestra de entrenamiento.</p>
                        <p>Se cree que desarrollar un sistema automatizado para la identificación de compuestos orgánicos permitirá contar con sistemas portables, eficientes de rápida respuesta que puedan ser utilizados en campo para aplicaciones de diagnóstico médico, actividades de separación de desechos y aprovechamiento de la materia orgánica, en este sentido los objetivos específicos de esta investigación son:</p>
                        <ul>
                        <li>Seleccionar la configuración más adecuada de Arduino para ser utilizado en la nariz electrónica.</li>
                        <li>Diseñar una red neuronal con su algoritmo de entrenamiento, clasificación e identificación para ser embebido en el Arduino seleccionado.</li>
                        <li>Documentar la arquitectura y algoritmo de red neuronal para ser replicado en diversos dispositivos.</li>
                        <li>Analizar el comportamiento de la nariz electrónica automatizada y realizar los ajustes convenientes</li>
                        <li>Realizar pruebas de eficiencia con el conjunto de pruebas de la red neuronal considerando una colección de compuestos orgánicos e inorgánicos.</li>
                        </ul>
                        <p>&nbsp;</p>
                        <p>3.3 Limitaciones y delimitaciones</p>
                        <p>El trabajo de investigación se limita en el diseño e implementación de un algoritmo de red neuronal que permita identificar olores de manera automatizada, incorporando dicho algoritmo en el Arduino.</p>

                </div>

                <div class="news-comments">
                    <div class="news-comments-title">
                        <h2>Comentarios Recientes:</h2>
                    </div>

                    <div class="news-comments-card">
                        <div class="news-comments-img">
                            <img src="assets/img/testimonial/t1.jpg" alt="Images">
                        </div>

                        <div class="comments-title">
                            <h3>Guisselle Martienez</h3>
                            <span>27 APR 2019 3:00 PM</span>
                        </div>
                        <p>“Me parece una excelente investigacion”</p>
                        <a routerLink="/news-details" class="reply-btn">Responder</a>
                    </div>

                    <div class="news-comments-card">
                        <div class="news-comments-img">
                            <img src="assets/img/testimonial/t2.jpg" alt="Images">
                        </div>

                        <div class="comments-title">
                            <h3>John Jimenez</h3>
                            <span>28 APR 2019 09:00 PM</span>
                        </div>
                        <p>“Impacta  de  forma  positiva  el bienestar  de  los  seres  humanos  en  diversos aspectos”</p>
                        <a routerLink="/news-details" class="reply-btn">Responder</a>
                    </div>

                    <div class="news-comments-card">
                        <div class="news-comments-img">
                            <img src="assets/img/testimonial/t3.jpg" alt="Images">
                        </div>

                        <div class="comments-title">
                            <h3>Ana Hernandez</h3>
                            <span>29 APR 2019 10:00 AM</span>
                        </div>
                        <p>“Me gusto mucho, felicidades”</p>
                        <a routerLink="/news-details" class="reply-btn">Responder</a>
                    </div>

                    <div class="news-detl-contact">
                        <div class="form-section">


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="widget-area">
                    <div class="widget-search">
                        <form>
                            <input type="text" placeholder="Buscar aqui..." class="form-search">
                            <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
                        </form>
                   </div>

                   <div class="widget-categories">
                       <h2>Meta</h2>

                       <ul>
                           <li><a href="https://ccaitese.com/wp-login.php" target=blank >Acceder </a></li>
                           <li><a href="https://es.wordpress.org/" target=blank >WordPress.org </a></li>
                           <li><a href="https://ccaitese.com/feed/" target=blank >Feed de Entradas </a></li>
                           <li><a href="https://ccaitese.com/comments/feed/" target=blank >Feed de Comentarios </a></li>
                       </ul>
                   </div>

                   <div class="news-post">
                       <h2>Autor</h2>

                       <div class="news-post-card">
                           <div class="post-item1">
                                <a routerLink="/news-details"><h3>GONZÁLEZ, Maricruz </h3></a>
                                <p>Sistema  de  monitoreo para  la detección de  hematuria  en  orina  de  gatos,  por  medio  de categorización de imágenes con  redes  neuronales  convolucionales  y detección de color con Python.</p>

                           </div>

                   </div>
            </div>
        </div>
    </div>
</div>
