<app-navbar-style-one></app-navbar-style-one>

<div class="inner-banner bg-shape1 bg-color1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="conatiner">
                <div class="inner-title text-center">
                    <h3>QUIENES SOMOS</h3>
                    <ul>
                        <li><a href="index.html">INCIO</a></li>
                        <li><i class="fas fa-chevron-right"></i></li>
                        <li>Nosotros</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-detl pt-100 pb-70">
    <div class="container">
        <div class="common-dtel-img">
            <img src="assets/img/about/about-detl.jpg" alt="About Images">
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="common-dtel-text">
                    <h2>Centro de Cooperación Academia Industria (CCAI)
                    </h2>
                    <p>El Centro de Cooperación Academia Industria, somos un laboratorio de desarrollo tecnológico que se encuentra dentro de las instalaciones del Tecnológico de  Estudios Superiores de Ecatepec.</p>
                    <p>Es un laboratorio de desarrollo experimental donde se otorga los materiales necesarios para la elaboración del proyecto,así como el equipo de cómputo. </p>
                    <h2>Misión</h2>
                    <p>En el centro de Investigación y desarrollo Tecnológico tiene como misión crear soluciones para la industria, transferencia tecnológica e investigación científica y aplicada.</p>
                    <h2>Beneficios para las empresas.   </h2>
                    <p>Obtener desarrollo científico.</p>
                    <p>Asesoría especializada.</p>
                    <h2>Beneficios para el Tecnológico de Estudios Superiores de Ecatepec</h2>
                    <p>Vinculación con el sector industrial.</p>
                    <p>Incremento en la Productividad académica.</p>

                </div>
            </div>

            <div class="col-lg-4">
                <div class="common-offer">
                    <div class="drive-img">
                        <img src="assets/img/drive.png" alt="Images">
                    </div>

                    <div class="common-offer-text">
                        <h3>Contacto</h3>
                        <a href="http://tese.edu.mx/tese2010/" class="call-btn">Ingresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="product-area pt-100 pb-70">
    <div class="container">
        <div class="scetion-title text-center mb-50">
            <h2>Equipo de trabajo</h2>
            <p>...</p>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <a routerLink="/"><img src="assets/img/product/1.jpg" alt="Product Images"></a>

                    <div class="product-cotent">
                        <div class="product-text">
                            <h3>Francisco Jacob Ávila Camacho</h3>
                            <span>Coordinador de CCAI.</span>
                            <h5>Con una experiencia de más de 15 años en el área de tecnología y siendo profesor del Tecnológico de Estudios Superiores de Ecatepec.</h5>
                        </div>

                       <!-- <a routerLink="/cart" class="add-product"><i class="flaticon-plus"></i></a>
                       --></div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <a routerLink="/"><img src="assets/img/product/2.jpg" alt="Product Images"></a>

                    <div class="product-cotent">
                        <div class="product-text">
                            <h3>Juan Manuel Stein Carrillo</h3>
                            <span>Encargado de proyectos.</span>
                            <h5>Profesor del Tecnológico de Estudios Superiores de Ecatepec desde hace 10 años, lleva la logística en los proyectos que se asignan en el CCAI.</h5>
                        </div>


                       <!-- <a routerLink="/cart" class="add-product"><i class="flaticon-plus"></i></a>
                       --></div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <a routerLink="/"><img src="assets/img/product/3.jpg" alt="Product Images"></a>

                    <div class="product-cotent">
                        <div class="product-text">
                            <h3>Adolfo Meléndez Ramírez</h3>
                            <span>Encargado de proyectos.</span>
                            <h5>Un profesor con alta trayectoria en el área tecnológica y con muchas certificaciones y experiencia en redes, guía a los estudiantes a realizar proyectos de calidad y utilidad.</h5>
                        </div>

                       <!-- <a routerLink="/cart" class="add-product"><i class="flaticon-plus"></i></a>
                       --></div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <a routerLink="/"><img src="assets/img/product/4.jpg" alt="Product Images"></a>

                    <div class="product-cotent">
                        <div class="product-text">
                            <h3>Leonardo Miguel Moreno Villalbao</h3>
                            <span>Encargado de proyectos.</span>
                            <h5>Siendo del área de informática, el profesor Leonardo es la conexión entre el área de informática y sistemas que conforman este CCAI.</h5>
                        </div>


                       <!-- <a routerLink="/cart" class="add-product"><i class="flaticon-plus"></i></a>
                       --></div>
                </div>
            </div>
        </div>
    </div>
</section>

    <div align="center"><img src="assets/img/product/organigramas.jpg" alt="Brand Images"style="height: 600px;"></div>


<!--
<section class="trainers-area pt-100 pb-70">
    <div class="container">
        <div class="scetion-title text-center mb-50">
            <span>Our Trainers</span>
            <h2>Our Professional Trainers</h2>
            <p>The introduced now, the they expect, animals the desk, and catch temple. More seven my couldn't it the character using recommended.</p>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="trainer-card">
                    <a routerLink="/instructor"><img src="assets/img/trainers/1.jpg" alt="Trainers Images"></a>

                    <div class="trainer-content">
                        <a routerLink="/instructor"><h3>John Doe</h3></a>
                        <span>Professional Diver</span>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fas fa-envelope"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="trainer-card">
                    <a routerLink="/instructor"><img src="assets/img/trainers/2.jpg" alt="Trainers Images"></a>

                    <div class="trainer-content">
                        <a routerLink="/instructor"><h3>Evana Doe</h3></a>
                        <span>Professional Trainer</span>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fas fa-envelope"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="trainer-card">
                    <a routerLink="/instructor"><img src="assets/img/trainers/3.jpg" alt="Trainers Images"></a>

                    <div class="trainer-content active">
                        <a routerLink="/instructor"><h3>Smith Doe</h3></a>
                        <span>Professional Swimmer</span>
                        <div class="social-icon active">
                            <ul>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fas fa-envelope"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="trainer-card">
                    <a routerLink="/instructor"><img src="assets/img/trainers/4.jpg" alt="Trainers Images"></a>

                    <div class="trainer-content">
                        <a routerLink="/instructor"><h3>Marida Doe</h3></a>
                        <span>Professional Instructor</span>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fas fa-envelope"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
