<app-navbar-style-one></app-navbar-style-one>

<div class="inner-banner bg-shape3 bg-color3">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="conatiner">
                <div class="inner-title text-center">
                    <h3>MEDIDOR DE CORRIENTE</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><i class="fas fa-chevron-right"></i></li>
                        <li>MEDIDOR DE CORRIENTE</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="news-detl pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="common-dtel-img">
                    <img src="assets/img/appoint/1.jpg" alt="About Images">
                </div>

                <div class="common-dtel-text">
                    <p>febrero, 6 2021 Posted by CCAI Residente Posted by 3 comments</p>
                    <h2>MEDIDOR DE CORRIENTE</h2>
                    <p>Para lograr el objetivo general se plantean los siguientes objetivos específicos para el desarrollo de la solución y el dispositivo:</p>
                    <li>Analizar los requisitos funcionales y no funcionales del dispositivo monitor de consumo de energía eléctrica.</li>
                    <li>Describir los mecanismos de comunicación del sistema</li>
                    <li>Seleccionar los sensores más adecuados para el diseño electrónico</li>
                    <li>Elegir los componentes necesarios para el funcionamiento del sistema, como tarjetas wifi, módulos de comunicación XBee, Bluetooth</li>
                    <li>Diseñar el programa de funcionamiento del sistema de monitoreo de consumo de energía.</li>
                    <li>Realizar las pruebas y ajustes necesarios</li>

                    <h3>DESCRIPCION</h3>
                    <p>La electricidad se comienza a descubrir desde el año 600 AC, cuando Thales de Miletus &nbsp;descubrió que el ámbar, al ser frotado adquiere el poder de atracción sobre algunos objetos. Pero fue el filósofo Griego&nbsp;Theophrastus quien estableció que otras sustancias tienen este mismo efecto,&nbsp; así fue el primer estudio científico sobre la electricidad.</p>
                </div>

                <div class="news-comments">
                    <div class="news-comments-title">
                        <h2>Comentarios Recientes:</h2>
                    </div>

                    <div class="news-comments-card">
                        <div class="news-comments-img">
                            <img src="assets/img/testimonial/t1.jpg" alt="Images">
                        </div>

                        <div class="comments-title">
                            <h3>Guisselle Martienez</h3>
                            <span>27 APR 2019 3:00 PM</span>
                        </div>
                        <p>“Me parece una excelente investigacion”</p>
                        <a routerLink="/news-details" class="reply-btn">Responder</a>
                    </div>

                    <div class="news-comments-card">
                        <div class="news-comments-img">
                            <img src="assets/img/testimonial/t2.jpg" alt="Images">
                        </div>

                        <div class="comments-title">
                            <h3>John Jimenez</h3>
                            <span>28 APR 2019 09:00 PM</span>
                        </div>
                        <p>“Impacta  de  forma  positiva  el bienestar  de  los  seres  humanos  en  diversos aspectos”</p>
                        <a routerLink="/news-details" class="reply-btn">Responder</a>
                    </div>

                    <div class="news-comments-card">
                        <div class="news-comments-img">
                            <img src="assets/img/testimonial/t3.jpg" alt="Images">
                        </div>

                        <div class="comments-title">
                            <h3>Ana Hernandez</h3>
                            <span>29 APR 2019 10:00 AM</span>
                        </div>
                        <p>“Me gusto mucho, felicidades”</p>
                        <a routerLink="/news-details" class="reply-btn">Responder</a>
                    </div>

                    <div class="news-detl-contact">
                        <div class="form-section">


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="widget-area">
                    <div class="widget-search">
                        <form>
                            <input type="text" placeholder="Buscar aqui..." class="form-search">
                            <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
                        </form>
                   </div>

                   <div class="widget-categories">
                       <h2>Meta</h2>

                       <ul>
                           <li><a href="https://ccaitese.com/wp-login.php" target=blank >Acceder </a></li>
                           <li><a href="https://es.wordpress.org/" target=blank >WordPress.org </a></li>
                           <li><a href="https://ccaitese.com/feed/" target=blank >Feed de Entradas </a></li>
                           <li><a href="https://ccaitese.com/comments/feed/" target=blank >Feed de Comentarios </a></li>
                       </ul>
                   </div>

                   <div class="news-post">
                       <h2>Autor</h2>

                       <div class="news-post-card">
                           <div class="post-item1">
                                <a routerLink="/news-details"><h3>GONZÁLEZ, Maricruz </h3></a>
                                <p>Sistema  de  monitoreo para  la detección de  hematuria  en  orina  de  gatos,  por  medio  de categorización de imágenes con  redes  neuronales  convolucionales  y detección de color con Python.</p>

                           </div>

                   </div>
            </div>
        </div>
    </div>
</div>

