.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700vw;
    height: 100vh;
    background:url('https://img.freepik.com/vector-gratis/fondo-memphis-semitono-azul-lineas-amarillas-formas-circulos_1017-31954.jpg?w=826&t=st=1654119359~exp=1654119959~hmac=1af659544c4526507b6a26c28f5dc49031bc1a04da9e83e3008420f83d9c8e00');
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;

  }


