<app-navbar-style-one></app-navbar-style-one>

<div class="inner-banner bg-shape2 bg-color1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="conatiner">
                <div class="inner-title text-center">
                    <h3>FOTOS</h3>
                    <ul>
                        <li><a href="index.html">Inicio</a></li>
                        <li><i class="fas fa-chevron-right"></i></li>
                        <li>Fotos</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gallery-inner pt-100 pb-70">
    <div class="container">
        <div class="scetion-title text-center mb-50">
            <span>GALERIA</span>
            <h2>Fotos CCAI</h2>
        </div>

        <div class="gallery-view">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="single-gallery">
                        <img src="assets/img/gallery/1.jpeg" alt="Gallery Images">
                        <a href="assets/img/gallery/1.jpeg" class="single-icon"><i class="fas fa-plus"></i></a>
                        <div class="gallery-content">
                            <h3>MAQUINA</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="single-gallery">
                        <img src="assets/img/gallery/2.jpeg" alt="Gallery Images">
                        <a href="assets/img/gallery/2.jpeg" class="single-icon"><i class="fas fa-plus"></i></a>
                        <div class="gallery-content">
                            <h3>LABOR</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="single-gallery">
                        <img src="assets/img/gallery/3.jpg" alt="Gallery Images">
                        <a href="assets/img/gallery/3.jpg" class="single-icon"><i class="fas fa-plus"></i></a>
                        <div class="gallery-content">
                            <h3>Recursos</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="single-gallery">
                        <img src="assets/img/gallery/4.jpeg" alt="Gallery Images">
                        <a href="assets/img/gallery/4.jpeg" class="single-icon"><i class="fas fa-plus"></i></a>
                        <div class="gallery-content">
                            <h3>Dedicacion</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="single-gallery">
                        <img src="assets/img/gallery/5.jpeg" alt="Gallery Images">
                        <a href="assets/img/gallery/5.jpeg" class="single-icon"><i class="fas fa-plus"></i></a>
                        <div class="gallery-content">
                            <h3>Dedicacion</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="single-gallery">
                        <img src="assets/img/gallery/6.jpg" alt="Gallery Images">
                        <a href="assets/img/gallery/6.jpg" class="single-icon"><i class="fas fa-plus"></i></a>
                        <div class="gallery-content">
                            <h3>Orden</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
