<app-navbar-style-one></app-navbar-style-one>

<div class="inner-banner bg-shape1 bg-color1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="conatiner">
                <div class="inner-title text-center">
                    <h3>Privacidad</h3>
                    <ul>
                        <li><a href="index.html">Inicio</a></li>
                        <li><i class="fas fa-chevron-right"></i></li>
                        <li>Privacidad</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="terms-conditions-area ptb-100">
    <div class="container">
        <div class="single-content">
            <h3>¿Quienes somos?</h3>
            <p>Nuestra página web es la siguiente: https://ccaitese.com.</p>
            <h3>Comentarios</h3>
            <p>Cuando los visitantes dejan comentarios en el sitio, nosotros recolectamos los datos mostrados en el formulario, y también la dirección IP del visitante y la cadena de agente de usuario del navegador para ayudar a detectar spam.</p>
            <p>Una cadena anónima es creada para tu dirección de e-mail ( también llamado hash ) puede ser provisional para el servicio Gravatar para ver si tu estás usándolo. La politica de privacidad del servicio Gravatar esta disponible aquí: https://automattic.com/privacy/ </p>
            <p>Después de la aprobación de tu comentario, tu foto de perfil estará visible para el público en el contexto de tu comentario.</p>
            <h3>Media</h3>
            <p>Si  subes imágenes al sitio web, tu deberás evitar subir imágenes con localización incorporada  (EXIF GPS).</p>
            <p>Los visitantes del sitio web pueden descargar y extraer cualquier información de localización de las imágenes en el sitio web. </p>
            <h3>Cookies</h3>
            <p>Si dejas un comentario en nuestro sitio tu podrás optar a guardar tu nombre, dirección de e-mail y el sitio web en las cookies. Estas son para tu conveniencia para que tu no tengas que llenar tus detalles de nuevo cuando dejes otro comentario. Estas cookies durarán por un año.</p>
           <p>Si tu visitas nuestra página de inicio de sesión, nosotros establecemos una cookie temporal para determinar si tu navegador aceptan cookies. Esta cookie no contiene datos personales y es descartada cuando tu cierras el navegador.</p>
           <p>Cuando tu inicias sesión, nosotros también establecemos varias cookies para guardar tu información de inicio de sesión y tu elección de visualización de la pantalla.  Las cookies de inicio de sesión duran por 2 días, y tus cookies de opción de pantalla duran por un año. Si tu seleccionas “Recuérdame”, tu inicio de sesión persistirá por dos semanas, si cierras la sesión de tu cuenta, las cookies de inicio de sesión serán removidas.</p>
           <p>Si tu editas o publicas un articulo, una cookie adicional será guardada en tu navegador. Esta cookie no incluye datos personales y simplemente indica el ID del post del articulo que acabas de editar. Expira después de un día.</p>
            <h3>Contenido incorporado de otros sitios web</h3>
            <p>Artículos en este sitio pueden incluir contenido incorporado ( e.g. videos, imágenes, artículos, etc. ). Contenido incorporado de otros sitios web se comporta de la misma manera como si el visitante visitara el otro sitio web.</p>
            <p>Estos sitios web pueden colectar datos sobre ti, usar cookies, incorporar seguimiento adicional de terceros, y monitorear tu interacción con el contenido incorporado, incluyendo seguimiento de tu interacción con el contenido incorporado si tu tienes una cuenta y estas registrado en el sitio web. </p>
            <h3>¿Con quien compartimos tus datos?</h3>
            <p>Si tu solicitas un restablecimiento de contraseña, tu dirección IP será incluida en el correo electrónico de restablecimiento.</p>
            <h3>¿Cuánto tiempo tenemos retenida tu información?</h3>
            <p>Si dejas un comentario, el comentario y sus metadatos son retenidos indefinidamente. Esto es para que nosotros podamos reconocer y aprobar cualquier comentario de seguimiento automático en lugar de mantenerlos in una cola de moderación.</p>
            <p>Para usuarios que están registrados en nuestro sitio web (si hay alguno), nosotros también almacenamos la información personal ellos proveen en su perfil de usuario. Todos los usuarios pueden ver, editar o borrar su información personal en cualquier momento ( excepto el cambiar el nombre de usuario). Los administradores del sitio web pueden también ver y editar esa información.</p>
            <h3>¿Qué derechos tienes sobre tus datos?</h3>
            <p>Si tu tienes una cuenta en este sitio, o dejaste comentarios, tu puedes solicitar para recibir un archivo exportado de los datos personales que nosotros tenemos de ti, incluido cualquier dato que nos proporciones.</p>
           <p>Tú también puedes solicitar que nosotros borremos cualquier dato personal que tengamos de ti, Esto no incluye cualquier dato que nosotros estemos obligados a conservar con fines, administrativos, legales o de seguridad.</p>
           <h3>¿Dónde enviamos tu información?</h3>
           <p>Los comentarios de nuestros visitantes podrán checar a tráves de un servicio de detección de spam automatizado.</p>
        </div>
    </div>
</div>
