<app-navbar-style-one></app-navbar-style-one>

<div class="inner-banner bg-shape3 bg-color4">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="conatiner">
                <div class="inner-title text-center">
                    <h3>SISTEMAS INTELIGENTES</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><i class="fas fa-chevron-right"></i></li>
                        <li>SISTEMAS INTELIGENTES</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="news-detl pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="common-dtel-img">
                    <img src="assets/img/news/SI_.jpg" alt="About Images">
                </div>

                <div class="common-dtel-text">
                    <p>mayo, 7 2021 Posted by CCAI Residente Posted by 3 comments</p>
                    <h2>SISTEMAS INTELIGENTES</h2>
                    <p>En años recientes se ha incrementado la necesidad por la separación de la basura tratando de concientizar a la población sobre la importancia que tiene este hecho que incluso algunos gobiernos estatales han manifestado la urgencia de llevar a cabo prácticas de separación de los residuos en orgánicos e inorgánicos desde su origen, con el fin de reducir los contaminantes que se concentran en los rellenos sanitarios.<br>
                        Tomando en cuenta la necesidad de reducir la generación de residuos sólidos en las ciudades y llevar a cabo un máximo aprovechamiento de los mismos tanto para el reciclaje como para la producción de composta, se torna importante contar con métodos y herramientas que permitan llevar a cabo estas tareas de separación de residuos orgánicos e inorgánicos. <br>
                        La presente investigación pretende sentar las bases para el desarrollo tecnológico de soluciones, productos y mecanismos automatizados que permitan identificar los tipos de compuestos presentes en los residuos sólidos a través del análisis, la investigación y el aporte científico para la identificación de compuestos orgánicos presentes en dichos residuos.<br>
                        Se pretende desarrollar, evaluar e implementar un método de clasificación de compuestos orgánicos automatizado, que contribuyan a las actividades de identificación de dichos compuestos en las tareas de separación de la basura, así como, al aprovechamiento de la materia orgánica como fuente de energía o nutriente contribuyendo así al mejoramiento del medio ambiente, la reducción de contaminantes y el calentamiento global. El método a desarrollar podrá tener aplicaciones adicionales en diversos campos, como la industria de los alimentos, los cosméticos, la medicina y la salud, la industria automotriz, entre muchas nuevas aplicaciones que podrán implementarse con la metodología de clasificación de compuestos orgánicos que se pretende desarrollar.
                        Se considera factible utilizar una nariz electrónica implementada con un arreglo de sensores de gas y una red neuronal artificial para realizar la detección y clasificación de compuestos orgánicos en residuos sólidos.</p>

                </div>

                <div class="news-comments">
                    <div class="news-comments-title">
                        <h2>Comentarios Recientes:</h2>
                    </div>

                    <div class="news-comments-card">
                        <div class="news-comments-img">
                            <img src="assets/img/testimonial/t1.jpg" alt="Images">
                        </div>

                        <div class="comments-title">
                            <h3>Guisselle Martienez</h3>
                            <span>27 APR 2019 3:00 PM</span>
                        </div>
                        <p>“Me parece una excelente investigacion”</p>
                        <a routerLink="/news-details" class="reply-btn">Responder</a>
                    </div>

                    <div class="news-comments-card">
                        <div class="news-comments-img">
                            <img src="assets/img/testimonial/t2.jpg" alt="Images">
                        </div>

                        <div class="comments-title">
                            <h3>John Jimenez</h3>
                            <span>28 APR 2019 09:00 PM</span>
                        </div>
                        <p>“Impacta  de  forma  positiva  el bienestar  de  los  seres  humanos  en  diversos aspectos”</p>
                        <a routerLink="/news-details" class="reply-btn">Responder</a>
                    </div>

                    <div class="news-comments-card">
                        <div class="news-comments-img">
                            <img src="assets/img/testimonial/t3.jpg" alt="Images">
                        </div>

                        <div class="comments-title">
                            <h3>Ana Hernandez</h3>
                            <span>29 APR 2019 10:00 AM</span>
                        </div>
                        <p>“Me gusto mucho, felicidades”</p>
                        <a routerLink="/news-details" class="reply-btn">Responder</a>
                    </div>

                    <div class="news-detl-contact">
                        <div class="form-section">


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="widget-area">
                    <div class="widget-search">
                        <form>
                            <input type="text" placeholder="Buscar aqui..." class="form-search">
                            <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
                        </form>
                   </div>

                   <div class="widget-categories">
                       <h2>Meta</h2>

                       <ul>
                           <li><a href="https://ccaitese.com/wp-login.php" target=blank >Acceder </a></li>
                           <li><a href="https://es.wordpress.org/" target=blank >WordPress.org </a></li>
                           <li><a href="https://ccaitese.com/feed/" target=blank >Feed de Entradas </a></li>
                           <li><a href="https://ccaitese.com/comments/feed/" target=blank >Feed de Comentarios </a></li>
                       </ul>
                   </div>

                   <div class="news-post">
                       <h2>Autor</h2>

                       <div class="news-post-card">
                           <div class="post-item1">
                                <a routerLink="/news-details"><h3>GONZÁLEZ, Maricruz </h3></a>
                                <p>Sistema  de  monitoreo para  la detección de  hematuria  en  orina  de  gatos,  por  medio  de categorización de imágenes con  redes  neuronales  convolucionales  y detección de color con Python.</p>

                           </div>

                   </div>
            </div>
        </div>
    </div>
</div>
