<app-navbar-style-two></app-navbar-style-two>

<div class="banner-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content">
                            <h1>INICIO</h1>

                        </div>
                    </div>

                    <div class="col-lg-6 p-0">
                        <div class="banner-img">
                            <img src="assets/img/banner-img1.jpg" alt="Banner Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            <div class="col-lg-7">
                <div class="about-content">
                    <span>Sobre Nosotros</span>
                    <h2>¿QUE ES EL CENTRO DE COOPERACIÓN ACADEMIA INDUSTRIA?</h2>
                    <p>El Centro de Cooperación Academia Industria (CCAI), es el espacio ideal para los proyectos que ayudan a mejorar el futuro de la sociedad. Somos un centro enfocado en ayudar al alumnado a sacar su mejor potencial para ser personas de bien en un futuro próximo, educándolos con valores positivos y educación de primer nivel, prueba de ello son nuestros casos de éxitos que hemos cosechado a lo largo de los años en los que el CCAI tiene de existencia</p>

                    <div class="about-more-btn">
                        <a routerLink="/about" class="default-btn4">Leer Mas</a>
                    </div>
                </div>
            </div>


<section class="gallery-area pt-100 pb-70">
    <div class="container">
        <div class="scetion-title text-center mb-50">

            <h2>Casa de la ingeniería</h2>
            </div>

        <div class="gallery-view">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/1.jpeg"><img src="assets/img/gallery/1.jpeg" alt="Gallery Images"></a>

                        <div class="gallery-text">
                            <h3>Desarrollo de tecnología</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/2.jpeg"><img src="assets/img/gallery/2.jpeg" alt="Gallery Images"></a>

                        <div class="gallery-text">
                            <h3>Investigación</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/3.jpg"><img src="assets/img/gallery/3.jpg" alt="Gallery Images"></a>

                        <div class="gallery-text">
                            <h3>Servicios de TIC'S para PYMES y MYPIMES</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/4.jpeg"><img src="assets/img/gallery/4.jpeg" alt="Gallery Images"></a>

                        <div class="gallery-text">
                            <h3>Formación de talento</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/5.jpeg"><img src="assets/img/gallery/5.jpeg" alt="Gallery Images"></a>

                        <div class="gallery-text">
                            <h3>Capacitación</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="assets/img/gallery/6.jpg"><img src="assets/img/gallery/6.jpg" alt="Gallery Images"></a>

                        <div class="gallery-text">
                            <h3>Distribución</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
