<app-navbar-style-one></app-navbar-style-one>

<div class="inner-banner bg-shape1 bg-color1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="conatiner">
                <div class="inner-title text-center">
                    <h3>SISTEMA DE ATENCION TELEMÉDICA INTELIGENTE PARA LA LIBERACIÓN DE CAMAS CON ATENCION EN TIEMPO REAL DE PACIENTES DE COVID</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><i class="fas fa-chevron-right"></i></li>
                        <li>SISTEMA DE ATENCION TELEMÉDICA INTELIGENTE PARA LA LIBERACIÓN DE CAMAS CON ATENCION EN TIEMPO REAL DE PACIENTES DE COVID</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="news-detl pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="common-dtel-img">
                    <img src="assets/img/testimonial/1.jpg" alt="About Images">
                </div>

                <div class="common-dtel-text">
                    <p>mayo, 19 2021 Posted by CCAI Residente Posted by 3 comments</p>
                    <h2>SISTEMA DE ATENCION TELEMÉDICA INTELIGENTE PARA LA LIBERACIÓN DE CAMAS CON ATENCION EN TIEMPO REAL DE PACIENTES DE COVID</h2>
                    <div class="textwidget"><p>En este trabajo se pretende desarrollar un sistema portátil capaz de medir ECG, SpO2, frecuencia cardiaca, presión arterial, y temperatura utilizando métodos no invasivos; los 4 parámetros previamente mencionados puedan ser enviados inalámbricamente utilizando comunicación Bluetooth a un dispositivo con Android OS para poder ser visualizados, almacenados, procesados y finalmente estos sean enviados en tiempo real vía internet a un especialista médico en los centros de atención médica correspondiente su monitoreo, los cuales permitan en el monitoreo por parte de especialistas en salud para pacientes con COVID y permita liberar camas hospitalarias en el sector alud de los gobiernos.</p>
                        <p>Resulta cada vez más difícil para cualquier sistema de salud poder soportar la carga hospitalaria que representa una pandemia como lo es Sars-COV2, Según estas estimaciones, cuatro países de la UE / EEE corren un alto riesgo de ver saturada su capacidad en la UCI con una prevalencia de 10 casos de COVID-19 hospitalizados por cada 100.000 habitantes (aproximadamente el doble del escenario de prevalencia de China continental en el pico de la epidemia). Con una prevalencia de 18 casos hospitalizados por cada 100 000 (el escenario de Lombardía al 5 de marzo), 12 países tienen un alto riesgo de que la capacidad de la UCI se sature. La capacidad de la UCI de todos los países de la UE / EEE y el Reino Unido se superaría con una prevalencia de 100 casos hospitalizados por cada 100 000 habitantes (el escenario de la provincia de Hubei en el pico de la epidemia)(European Center for Disease Prevention and Control, 2020).</p>
                        <p>Siendo la Telemedicina una herramienta de utilidad eficaz para el llamado distanciamiento social en entornos clínicos u otros(Bashshur et al., 2020), Por esta razón se necesita un sistema de monitoreo de la salud móvil y portátil, para poder obtener parámetros médicos como ECG, SpO2, frecuencia cardiaca, presión arterial, niveles de glucosa y temperatura de manera continua pre-programada y que estos datos puedan ser monitoreados por los expertos en salud en los centros de atención médica correspondientes.</p>
                        <p>Desarrollar un sistema portátil capaz de medir ECG, SpO2, frecuencia cardiaca, presión arterial, y temperatura utilizando métodos no invasivos; los 4 parámetros previamente mencionados puedan ser enviados inalámbricamente utilizando comunicación Bluetooth a un dispositivo con Android OS para poder ser visualizados, almacenados, procesados y finalmente estos sean enviados en tiempo real vía internet a un especialista médico en los centros de atención médica correspondiente su monitoreo, los cuales permitan en el monitoreo por parte de especialistas en salud para pacientes con COVID</p>
                        </div>
                </div>

                <div class="news-comments">
                    <div class="news-comments-title">
                        <h2>Comentarios Recientes:</h2>
                    </div>

                    <div class="news-comments-card">
                        <div class="news-comments-img">
                            <img src="assets/img/testimonial/t1.jpg" alt="Images">
                        </div>

                        <div class="comments-title">
                            <h3>Guisselle Martienez</h3>
                            <span>27 APR 2019 3:00 PM</span>
                        </div>
                        <p>“Me parece una excelente investigacion”</p>
                        <a routerLink="/news-details" class="reply-btn">Responder</a>
                    </div>

                    <div class="news-comments-card">
                        <div class="news-comments-img">
                            <img src="assets/img/testimonial/t2.jpg" alt="Images">
                        </div>

                        <div class="comments-title">
                            <h3>John Jimenez</h3>
                            <span>28 APR 2019 09:00 PM</span>
                        </div>
                        <p>“Impacta  de  forma  positiva  el bienestar  de  los  seres  humanos  en  diversos aspectos”</p>
                        <a routerLink="/news-details" class="reply-btn">Responder</a>
                    </div>

                    <div class="news-comments-card">
                        <div class="news-comments-img">
                            <img src="assets/img/testimonial/t3.jpg" alt="Images">
                        </div>

                        <div class="comments-title">
                            <h3>Ana Hernandez</h3>
                            <span>29 APR 2019 10:00 AM</span>
                        </div>
                        <p>“Me gusto mucho, felicidades”</p>
                        <a routerLink="/news-details" class="reply-btn">Responder</a>
                    </div>

                    <div class="news-detl-contact">
                        <div class="form-section">


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="widget-area">
                    <div class="widget-search">
                        <form>
                            <input type="text" placeholder="Buscar aqui..." class="form-search">
                            <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
                        </form>
                   </div>

                   <div class="widget-categories">
                       <h2>Meta</h2>

                       <ul>
                           <li><a href="https://ccaitese.com/wp-login.php" target=blank >Acceder </a></li>
                           <li><a href="https://es.wordpress.org/" target=blank >WordPress.org </a></li>
                           <li><a href="https://ccaitese.com/feed/" target=blank >Feed de Entradas </a></li>
                           <li><a href="https://ccaitese.com/comments/feed/" target=blank >Feed de Comentarios </a></li>
                       </ul>
                   </div>

                   <div class="news-post">
                       <h2>Autor</h2>

                       <div class="news-post-card">
                           <div class="post-item1">
                                <a routerLink="/news-details"><h3>GONZÁLEZ, Maricruz </h3></a>
                                <p>Sistema  de  monitoreo para  la detección de  hematuria  en  orina  de  gatos,  por  medio  de categorización de imágenes con  redes  neuronales  convolucionales  y detección de color con Python.</p>

                           </div>

                   </div>
            </div>
        </div>
    </div>
</div>
